variables:
  BOT_VERSION: 2.15.1
  MAVEN_OPTS: -Dmaven.repo.local=.m2/repository

dependencies:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  only:
    changes: &code-changes
      - Dockerfile
      - pom.xml
      - src/main/**/*
      - src/test/**/*
      - sql/**/*
  script:
    - mvn --batch-mode de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  stage: .pre

test:
  image: maven:3.9.7-eclipse-temurin-21-alpine
  rules:
      changes: *code-changes
  script:
    - mvn -Pcoverage --batch-mode org.jacoco:jacoco-maven-plugin:prepare-agent test org.jacoco:jacoco-maven-plugin:report
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print "Total", 100*covered/instructions, "%" }' target/site/jacoco/jacoco.csv
  coverage: "/Total (\d+.\d+) %/"
  variables:
    DOCKER_DRIVER: overlay2
    DS_BASEURL: "https://download.pawa.im/dev"
    DS_BUCKET: "dev-recordings"
    DS_HOST: "https://s3.us-west-001.backblazeb2.com"
    DS_REGION: "us-west-001"
  artifacts:
    paths:
      - target/site/jacoco/jacoco.xml
  stage: test

container:
  image: docker:27
  cache: {}
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes: *code-changes
    - if: $CI_COMMIT_TAG
      changes: *code-changes
  services:
    - docker:27-dind
  script:
    - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
    - BUILD_DATE=$(date -u +%FT%TZ)
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |
      docker build --quiet \
             --cache-from $CI_REGISTRY/pawabot/pawa:latest \
             -t $CI_REGISTRY/pawabot/pawa:${VERSION} \
             --build-arg VCS_REF=${CI_COMMIT_SHORT_SHA} \
             --build-arg BUILD_DATE=${BUILD_DATE} \
             --build-arg VERSION=${VERSION} \
             .
    - '[ -n "$CI_COMMIT_TAG" ] && docker push $CI_REGISTRY/pawabot/pawa:latest || docker push $CI_REGISTRY/pawabot/pawa:${VERSION}'
    - docker tag $CI_REGISTRY/pawabot/pawa:${VERSION} gdragon/throw-voice:${VERSION}
    - docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
    - docker push gdragon/throw-voice:${VERSION}
  stage: deploy
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs

coverage:
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.9
  cache: {}
  only:
    changes: *code-changes
  script:
    # convert report from jacoco to cobertura, using relative project path
    - python /opt/cover2cover.py target/site/jacoco/jacoco.xml $CI_PROJECT_DIR/src/main/kotlin/ > target/site/cobertura.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: target/site/cobertura.xml
  stage: deploy

pages:
  artifacts:
    expire_in: 30 days
    paths:
      - public
  cache: {}
  script:
    - cp -r src/site/ public
  stage: deploy
  rules:
    - if: $DEPLOY_SITE
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes:
        - CHANGELOG.md
        - src/site/**/*
    - if: $CI_COMMIT_TAG
      changes:
        - CHANGELOG.md
        - src/site/**/*
