<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="globalPattern">
      %d{YYYY-MM-dd'T'HH:mm:ssZ} [%level] %logger{1.} -  %X{jda.shard} %mdc{guild}#%mdc{text-channel}: %msg%n
    </Property>
  </Properties>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="${globalPattern}" charset="UTF-8"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
