# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:9-jdk

     working_directory: ~/pawa

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - pawa-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - pawa-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: pawa-{{ checksum "pom.xml" }}

      # run tests!
      - run: mvn integration-test
